Simple Bot/Service References/ocr/ocr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ocr.webtropy.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ocr.webtropy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ocr.webtropy.com/">
      <s:element name="Analyze">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnalyzeSoapIn">
    <wsdl:part name="parameters" element="tns:Analyze" />
  </wsdl:message>
  <wsdl:message name="AnalyzeSoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeResponse" />
  </wsdl:message>
  <wsdl:portType name="ocrSoap">
    <wsdl:operation name="Analyze">
      <wsdl:input message="tns:AnalyzeSoapIn" />
      <wsdl:output message="tns:AnalyzeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ocrSoap" type="tns:ocrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Analyze">
      <soap:operation soapAction="http://ocr.webtropy.com/Analyze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ocrSoap12" type="tns:ocrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Analyze">
      <soap12:operation soapAction="http://ocr.webtropy.com/Analyze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ocr">
    <wsdl:port name="ocrSoap" binding="tns:ocrSoap">
      <soap:address location="http://free-ocr.co.uk/ocr.asmx" />
    </wsdl:port>
    <wsdl:port name="ocrSoap12" binding="tns:ocrSoap12">
      <soap12:address location="http://free-ocr.co.uk/ocr.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>